@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Raleway:600,700);

/*typography*/
h1 {
	font-family: "Raleway";
	font-weight: 600;
	font-size: 22px;
	line-height: 18px;
}

h2 {
	font-family: "Raleway";
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;
}

p {
	font-family: "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
}

/*header*/

header {
	background: url("../img/baner.jpg") no-repeat center center; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	border-top: 10px solid #2ecc71;
}

header h1 {
	font-family: "Pacifico", sans-serif;
	font-size: 60px;
	line-height: 20px;
	color: #fff;
	margin-top: 180px;
	margin-bottom: 35px;
}

header p {
	font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size: 24px;
	color: #fff;
	padding-top: 35px;
	margin-top: 35px;
	margin-bottom: 25px;
}

span {
	color: #2ecc71;
}

.fa-apple, .fa-android, .fa-windows {
	color: #f4f4f4;
}

.icons {
	margin-top: 0;
	margin-bottom: 175px;
}

.circle {
	border-radius: 50%;
	margin-right: 0 15px;
	padding: 18px;
	background-color: #030303;
	opacity: 0.5;
	width: 50px;
	height: 50px;
}

.circle:hover, .circle:focus {
	background-color: #2ecc71;
	opacity: 1;
}

/*features*/

.features {
	background-color: #fff;
	margin-top: 60px;
}

.fa-cog, .fa-star, .fa-globe {
	color: #fff;
}

.circle_feat {
	border-radius: 50%;
	background-color: #2ecc71;
	padding: 23px 25px;
	margin-bottom: 35px;
}

.features h1 {
	color: #222222;
	margin-bottom: 25px;
}

.features p {
	color: #848484;
	margin-bottom: 55px;
}

/*getnotified*/

.getnotified {
	background-color: #e3e3e3;
}

.getnotified h1 {
	margin-bottom: 25px;
}

.complement {
	margin-top: 60px;
	margin-bottom: 70px;
}

.complement form {
	margin-top: 20px;
}

.getnotified input {
	font-family: "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 18px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 8%;
	border-bottom-left-radius: 8%;
	padding-top: 23px;
	padding-bottom: 20px;
	height: 55px;
	width: 305px;
	margin-right: 0;
}

.btn {
	font-family: 'Raleway';
	font-weight: 600;
	font-size: 22px;
	background-color: #2ecc71;
	color: #fff;
	height: 55px;
	width: 140px;
	border-top-right-radius: 8%;
	border-bottom-right-radius: 8%;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	margin-left: -4px;
}

.video {
	max-height: 307px;
	max-width: 500px;
}

.video iframe {
	border-radius: 3%;
}

/*testimonials*/
.testimonials p {
	font-family: "HelveticaNeue-Italic", "Helvetica Neue Italic", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 18px;
	line-height: 30px;
	color: #848484;
}

.testimonials ul li {
	margin: 0 2.5px;
	height: 50px;
	width: 50px;
}

.green {
	position: relative;
	width: 50px;
	height: 50px;
	background-color: #2ecc71;
}

.nav-tabs a:hover img {
	background-color: #2ecc71;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.nav > li > a {
	padding: 0;
}

.quote {
	margin-top: 60px;
	margin-bottom: 25px;
}

.nav-tabs {
	border-bottom: 0;
}

/*getin*/

.getin {
	margin-top: 60px;
}

.getin h1 {
	font-size: 24px;
	line-height: 24px;
}

.circle_com {
	border-radius: 50%;
	background-color: #c5c5c5;
	width: 40px;
	height: 40px;
	padding: 5px;
}

.fa-twitter, .fa-facebook, .fa-pinterest, .fa-google-plus, .fa-linkedin, .fa-youtube {
	color: #fff;
	margin: 0 10px;
}

.community {
	margin-top: 25px;
	margin-bottom: 60px;
}

.community i:hover, .community i:focus {
	background-color: #2ecc71;
}

/*footer*/
footer {
	background-color: #e3e3e3;
}

footer ul {
	list-style: none;
	margin-top: 60px;
	margin-bottom: 55px;
}

footer ul li {
	font-family: "HelveticaNeue-Regular", "Helvetica Neue Regular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
	font-size: 16px;
	display: inline;
	margin: 0 35px;
}

footer ul li a {
	color: #848484;
}

/*additional*/

.no-padding {
	margin: 0;
	padding: 0;
}
