@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700,400italic,300,300italic);

body {
	font-family: "Titillium Web", sans-serif;
}

/*typgoraphy*/
h1 {
	color: #fff;
	font-size: 40px;
	font-weight: 800;
	line-height: 30px;
	text-align: center;
}

h2 {
	color: #fff;
	font-weight: 800;
	font-size: 24px;
	line-height: 18px;
	text-align: center;
}

h3 {
	color: #fff;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-align: center;
}

p {
	color: #fff;
	font-weight: 400;
	font-size: 18px;
	line-height: 26px;
	text-align: center;
}

hr {
	width: 5%;
	margin-top: 0;
	margin-bottom: 0;
	border-color: #000;
	filter: alpha(opacity=15);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=15);
	-moz-opacity: 0.15;
	opacity:0.15;
}

/*nav*/
.navbar-default{
	background-color: #87509c;
	border: none;
}

.navbar-header a {
	margin-left: 40px;
	margin-right: 480px;
}

.nav-pills li{
	margin: 15px 10px 0 0;
}

.nav-pills > li.active > a, .nav-pills > li.active >  a:hover, .nav-pills > li.active > a:focus {
	background-color: #643a79;
}

.nav-pills  li a:hover, .nav-pills  li a:focus {
	background-color: #643a79;
}

#mynavbar li a{
	font-family: 'Titillium Web', sans-serif;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
}

/*welcome*/
.welcome {
	background-color: #87509c;
	padding-top: 60px;
	padding-bottom: 140px;
}

.welcome h1 {
	margin-top: 145px;
	margin-bottom: 55px;
	font-weight: 700;
	font-size: 42px;
	line-height: 50px;
}

#btn-colored-work {
	color: #fff;
	font-family: 'Titillium Web', sans-serif;
	font-size: 18px;
	line-height: 27px;
	font-weight: 600;
	padding: 30px 80px 25px;
	background-color: #eb7d4b;
	border: 0 none;
	letter-spacing: 1px;
	text-transform: uppercase;
	box-shadow: 0 5px 0 0 #c86a40;
}

#btn-colored-work:focus, #btn-colored-work:active:focus, #btn-colored-work.active:focus {
	outline: 0 none;
}

#btn-colored-work:hover, #btn-colored-work:focus {
	background-color: #e28b64;
	color: #fff;
}

#btn-colored-work:active, #btn-colored-work.active {
	color: #fff;
	background-color: #eb7d4b;
	margin-bottom: -5px;
	margin-top: 5px;
	box-shadow: none;
}

/*services*/
.services {
	background-color: #17c2a4;
	padding-bottom: 120px;
}

.services img {
	border: none;
	margin-bottom: 55px;
}

/*team*/
.team {
	background-color: #e7f1f8;
	padding-bottom: 120px;
}

.team h1, .team h2, .team p {
	color: #3c4761;
}

.team h3 {
	color: #30bae7;
}

.team  p {
	font-size: 19px;
	font-weight: 400;
}

.community {
	margin-top: 30px;
}

.fa-stack:hover .fa-circle {
	color: #55acee;
}

.fa-facebook, .fa-twitter, .fa-linkedin, .fa-envelope{
	color: #fff;
}

.fa-circle {
	color: #bdd1df;
}

/*skills*/
.skills {
	margin-bottom: 120px;
}

.skills h1, .skills h2, .skills p {
	color: #3c4761;
}

.skills h2 {
	margin-top: 30px;
}

/*portfolio*/
.portfolio {
	background-color: #ffdd99;
	padding-bottom: 105px;
}

.portfolio h1, .portfolio p {
	color: #393939;
}

.portfolio .title-lower {
	margin-bottom: 40px;
}

.portfolio img {
	margin-top: 60px;
	margin-bottom: 30px;
	border: none;
}

.buttons .btn-colored {
	background-color: #ebc985;
	border: none;
}

.buttons .btn-colored:hover, .buttons .btn-colored:focus {
	background-color: #fff;
}

.portfolio .btn.btn-colored.active {
	background-color: #fff;
}

#btn-colored-more {
	color: #fff;
	background-color: #17c2a4;
	font-weight: 600;
	font-size: 18px;
	line-height: 26px;
	padding: 20px 50px;
	box-shadow: 0 5px 0 0 #14a58c;
	margin-top: 75px;
}

#btn-colored-more:hover {
	background-color: #41cbb0;
}

#btn-colored-more:focus, #btn-colored-more:active:focus, .#btn-colored-more.active:focus {
	outline: 0 none;
	border: 0 none;
}

#btn-colored-more:active {
	color: #fff;
	background-color: #17c2a4;
	margin-bottom: -5px;
	margin-top: 80px;
	box-shadow: none;
}

/*testimonials*/
.testimonials {
	background-color: #d74680;
	padding-bottom: 160px;
}

.testimonials h2 {
	margin-top: 25px;
}

.testimonials .colored-high {
	margin-bottom: 160px;
}

/*getin*/
.getin {
	background-color: #3c5499;
	padding-bottom: 115px;
}

.getin input, .getin textarea {
	border: none;
	background-color: #273a71;
	color: #fff;
}

.getin input::-webkit-input-placeholder, .getin textarea::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #fff;
}

.getin input:-moz-placeholder , .getin textarea:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */
   color: #fff;
   opacity: 1;
}

.getin input::-moz-placeholder, .getin textarea:-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #fff;
   opacity: 1;
}

.getin input:-ms-input-placeholder, .getin textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #fff;
}

#btn-colored-send {
	color: #fff;
	background-color: #30bae7;
	border: none;
	font-weight: 600;
	font-size: 18px;
	line-height: 26px; 
	margin-top: 60px;
	padding: 20px 80px;
	box-shadow: 0 5px 0 0 #299ec5;
	
	
}

#btn-colored-send:hover, #btn-colored-send:focus {
	background-color: #3ec4f0;
	color: #fff;
}

#btn-colored-send:focus, #btn-colored-send:active:focus, #btn-colored-send.active:focus {
	outline: 0 none;
}

#btn-colored-send:active {
	color: #fff;
	background-color: #30bae7;
	margin-bottom: -5px;
	margin-top: 65px;
	box-shadow: none;
}

/*footer*/
footer {
	background-color: #344b8e;
	padding: 50px;
}

footer ul {
	list-style: none;
}

footer ul li {
	font-weight: 600;
	font-size: 24px;
	line-height: 30px;
	display: inline;
	margin: 0 27px;
}

footer ul li a {
	border: none;
	color: #fff;
}

footer ul li a.active {
	color: #30bae7;
	text-decoration: none;
}

footer ul li a:hover {
	color: #30bae7;
	text-decoration: none;
}

/*additional*/
.title {
	margin-top: 120px;
	margin-bottom: 20px;
}

.title-lower {
	margin-top: 20px;
	margin-bottom: 80px;
}

.lower {
	margin-top: 30px;
	font-size: 16px !important;
	font-weight: 300 !important;
}

.no-padding {
	margin: 0;
	padding: 0;
}

.italic {
	font-size: 21px;
	font-weight: 300;
	font-style: italic;
}

.colored {
	color: #ffdd99;
}

@media screen and (max-width: 1024px){
	
	.navbar-header a {
	margin-left: 0px;
	margin-right: 380px;
	}
	
	.nav-pills li {
		margin: 20px 3px;
	}
		
	footer {
		padding: 15px 0;
	}
	
	footer ul li {
		font-size: 22px;
		margin: 0 5px;
	}
}

@media screen and (max-width: 768px) {
	
	.navbar-header a {
		margin-left: 0px;
		margin-right: 170px;
	}
	
	.services .lower {
		margin-bottom: 50px;
	}
	
	.community {
		margin-bottom: 30px;
	}
	
	.skills h2 {
		margin-bottom: 50px;
	}
	
	.testimonials img {
		margin-bottom: 20px;
	}
	
	.testimonials .colored {
		margin-bottom: 50px;
	}
	
	footer ul li {
		font-size: 15px;
		margin: 0 4px;
	}
}

@media screen and (max-width: 480px){
	
	.navbar-collapse {
		padding-left: 25px;
	}
	
	.navbar-default div.navbar-collapse {
		border-top: none;
		box-shadow: none;
	}
	
	.navbar.navbar-default > div.navbar-header > a{
		margin-right: 0;
	}
	
	.welcome .navbar-toggle{
		margin-top: 16px;
	}
	
	#mynavbar {
		border: none;
	}
	
	#mynavbar li a {
		margin-left: 1px;
		font-size: 9px;
		line-height: 9px;
		padding: 5px 11px;
	}
	
	.services .lower {
		margin-bottom: 50px;
	}
	
	.skills h2 {
		margin-bottom: 40px;
	}
	
	.first {
		margin-bottom: 0;
	}
	
	.testimonials img {
		margin-bottom: 10px;
	}
	
	.testimonials .colored, .community {
		margin-bottom: 50px;
	}
	
	footer ul {
		padding-left: 0;
	}
	
	footer ul li {
		font-size: 10px;
		margin: 0 2px;
	}
	
}